.expert  {
  padding: 90px 0 0 0;
  position: relative;
  &:after {
    content: "";
    height: 81px;
    width: 100%;
    position: absolute;
    background: url(../img/1.png);
    bottom: -1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 20;
  }
    @include r(1023) {
      display: none;
    }
  &__title { 
    margin-bottom: 40px;
    text-align: center;
  }
  &-content { 
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    &__bg {
      position: absolute;
      top: 5.5%;
      left: -15.5%;
      z-index: 0;
      opacity: 0.55;
    }
  }
  &__img {
    margin-left: 26px;
    position: relative;
    z-index: 2;
  }
  &-text {
    max-width: 572px;
    margin-top: 31px;
    z-index: 2;
    &__description {
      font: 400 18px/28px $main-font;
      color: #444444;
      margin-bottom: 29px;
      &-bold { 
        font-weight: 700;
        color: #000000;
      }
    }
  }
  &-author {
    text-align: left;
    &__name { 
      color: #1d1d1d;
      font-size: 24px;
      line-height: 32px;
    }
    &__desc { 
      font: 500 18px/24px $main-font;
      color: #444444;
      font-style: italic;
    }
  }
  &-lower {
    width: 100%;
    display: flex;
    justify-content: center;  
  }
  &__btn {
    width: 242px;
    height: 60px;
    margin-top: -38px;
    z-index: 21;
    position: relative;
    bottom: 2px;
  }
}

@include r(1219) {
  .expert { 
    &__title {
      margin-bottom: 20px;
    }
    &__img {
      width: 375px;
      margin-top: 210px;
      margin-left: 0;
      margin-right: 30px;
    }
    &-content {
      max-width: 100%;
      &__bg {
        width: 700px;
        top: 22.5%;
        left: -20%;
      }
    }
  }
}
@include r(1023) {
  .expert {
    &-content__bg{
      display: none;
    }
    &__img {
      display: none;
    }
    &-text {
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 35px;
    }
    &__btn {
      margin-top: 0;
    }
  }
}
@include r(639) {
  .expert {
    &__title {
      margin-bottom: 20px;
    }
    &-text {
      &__description {
        margin-bottom: 20px;
      }
    }
    &-br {
      display: none;
    }
  }
}