.order {
  padding: 53px 0 90px;
}

.order__title {
  margin-bottom: 43px;

  @include r(639) {
    margin-bottom: 20px;
  }
}

.order__list {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  counter-reset: order;

  @include r(639) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include r(479) {}
}

.order__top-wrap {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 100px;
    background-color: $green;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    font-weight: 900;
    left: 50%;
    transform: translateX(-50%);

    @include r(767) {
      width: 50px;
      height: 50px;
      font-size: 33px;
    }
  }

  &:before {
    content: counter(order);
    counter-increment: order;
    top: -29px;

    @include r(1023) {
      top: -38px;
    }

    @include r(767) {
      top: -34px;
    }
  }

  &:after {
    content: "";
    height: 24px;
    width: 4px;
    border-radius: 0;
    bottom: -24px;
  }
}

.order__top {
  height: 300px;
  margin-bottom: 45px;
  background-color: #f5f4f0;
  border-bottom-left-radius: 120px;
  border-top-right-radius: 120px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;

  @include r(1023) {
    height: 220px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
  }

  @include r(767) {
    height: 190px;
  }

  @include r(479) {
    width: 270px;
    margin: 0 auto 40px;
  }
}

.order__img {
  margin: 0 auto;
}

.order__item {
  width: 330px;

  @include r(639) {
    width: 210px;
  }

  @include r(479) {
    width: 300px;
    margin-bottom: 50px;
  }

  &:nth-child(1) {
    .order__top {
      border-top-left-radius: 120px;
      border-bottom-right-radius: 120px;
      border-bottom-left-radius: 30px;
      border-top-right-radius: 30px;

      @include r(1023) {
        border-top-left-radius: 90px;
        border-bottom-right-radius: 90px;
      }
    }

    .order__img {
      width: 230px;

      @include r(1023) {
        width: 170px;
      }

      @include r(767) {
        width: 150px;
      }

      @include r(479) {
        width: 160px;
      }
    }
  }

  &:nth-child(2) {
    margin: 30px 20px 0;

    @include r(639) {
      margin: 0 0 40px;
    }

    @include r(479) {
      margin-bottom: 50px;
    }

    .order__top {
      padding-top: 31px;

      @include r(767) {
        padding-top: 20px;
      }
    }

    .order__top-wrap:before {
      top: auto;
      bottom: -26px;
    }

    .order__top-wrap:after {
      bottom: auto;
      top: -24px;
    }
  }

  &:nth-child(2) {
    .order__img {
      @include r(1023) {
        width: 186px;
      }

      @include r(767) {
        width: 165px;
      }

      @include r(479) {
        width: 172px;
      }
    }
  }

  &:nth-child(3) {
    @include r(479) {
      margin-bottom: 0;
    }

    .order__top {
      padding-top: 38px;

      @include r(479) {
        padding-top: 30px;
      }
    }

    .order__img {
      width: 190px;

      @include r(1023) {
        width: 130px;
      }

      @include r(767) {
        width: 105px;
      }

      @include r(479) {
        width: 115px;
      }
    }

    .red-text {
      display: inline-block;
    }
  }
}

.order__head {
  max-width: 250px;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;

  @include r(767) {
    font-size: 20px;
  }
}

.order__text {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;

  @include r(767) {
    font-size: 17px;
  }
}
