.my-popup {
  .prod {
    width: 295px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
  }

  .price__title {
    margin: 0;
  }

  .promo-last__form .form__last {
    margin-bottom: 28px;
  }

  .promo-last__form .form__note {
    margin: 10px 0;
  }

  .promo-last__form .form__bottom {
    padding: 10px 10px 10px 40px;
  }

  .logo__img {
    margin: 0 40px 20px auto;
  }

  .form__price {
    margin: 10px 0 6px;
  }

  .form input {
    padding: 15px 23px 15px 52px;
  }

  .form__button {
    height: 60px;
  }

  .btn__note {
    font-size: 18px;
  }
}

.popup__wrap {
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f6f5f1;

  @include r(999) {
    padding: 0;
    background-color: transparent;
  }
}

.popup__left {
  margin: 0 40px 0 25px;

  @include r(999) {
    display: none;
  }
}

.ever-popup__close {
  right: -35px !important;
  top: 3px !important;

  @include r(999) {
    top: 4px !important;
    right: 0px !important;
  }
}

.ever-popup__close:after,
.ever-popup__close:before {
  width: 30px !important;
  height: 3px !important;
  background-color: $red !important;

}

.ever-popup.show {
  display: flex !important;
  align-items: center;

  @media (max-height: 650px) {
    display: block !important;
  }
}

.ever-popup__inner {
  margin: 0 auto !important;
  padding-top: 30px !important;

  @media (max-height: 650px) {
    margin-top: 40px !important;
  }
}

.ever-popup {
  z-index: 120 !important;
}
