.promo-last {
  @include r(1023) {
    height: 860px;
  }

  @include r(639) {
    height: auto;
  }

  .promo__content {
    @include r(1023) {
      max-width: 670px;
      margin: 0 auto;
      position: relative;
    }
  }

  .bullets {
    @include r(1023) {
      display: block;
      max-width: 370px;
    }

    @include r(767) {
      max-width: 340px;
      margin: 0;
    }

    @include r(639) {
      max-width: 360px;
      margin: 0 auto 30px;
    }
  }

  .bullets__item {
    @include r(1023) {
      width: auto;
    }

    @include r(767) {
      margin-bottom: 20px;
    }
  }

  .bullets__text {
    @include r(767) {
      font-size: 17px;
    }
  }

  .bullets__thanks {
    @include r(767) {
      display: inline;
    }
  }

  .promo__decor {
    top: 0;
  }

  .promo__center {
    margin-right: 50px;
    padding-top: 45px;

    @include r(1219) {
      margin-right: 20px;
    }
  }

  .promo__right {
    @include r(1023) {
      position: absolute;
      top: 220px;
    }

    @include r(639) {
      position: static;
    }
  }

  .promo__pic {
    top: -110px;
  }

  .prod {
    bottom: -124px;
    left: -408px;

    @include r(1219) {
      left: -368px;
    }

    @include r(1023) {
      width: 280px;
      left: 30px;
      bottom: -370px;
    }

    @include r(767) {
      left: 30px;
      bottom: -380px;
    }
  }
}

.promo-last__form {
  width: 270px;

  .form__top {
    padding: 15px 0 0;
    background-color: #f6f5f1;
  }

  .form__top::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -147px;
    border: 131px solid transparent;
    border-top: 17px solid #f6f5f1;
    z-index: -5;
  }

  .form__title {
    max-width: 192px;
    margin: 0 auto;
    font-size: 23px;
    line-height: 1.1;
    font-weight: 500;

    .green-text {
      display: block;
      font-size: 24px;
    }
  }

  .form__price {
    margin: 15px 0 6px;
    padding: 0 10px;
    display: flex;
    border-bottom: none;
  }

  .form__price::before {
    display: none;
  }

  .price-old,
  .price-new {
    width: 50%;
  }

  .price-old {
    color: #666666;
    border-right: 1px solid #e0dfdd;

    .price__count {
      padding-top: 13px;
      font-size: 28px;
      position: relative;

    }

    .x_price_previous {
      margin-right: 2px;
      letter-spacing: -1.4px;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 1px;
        background-color: #f57373;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(20deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-20deg);
      }

    }

    .x_currency {
      font-size: 16px;
    }
  }

  .price-new {
    color: #30302f;

    .price__count {
      font-weight: 900;
      font-size: 44px;
    }

    .x_price_current {
      margin-right: 2px;
      letter-spacing: -1.4px;
    }

    .x_currency {
      font-size: 16px;
    }
  }

  .form__last {
    margin-bottom: 34px;
    padding: 0 30px;
    line-height: 1.2;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
  }

  .form__main {
    padding: 0 21px;
  }

  .form input {
    width: 100%;
    padding: 19px 23px 19px 52px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 18px;
    background-color: #ffffff;
    border: 1px solid #dedddd;
    box-shadow: inset 2px 3px 5px rgba(34, 35, 39, 0.09);
  }

  .input-wrap {
    margin-bottom: 15px;
  }

  .input-wrap--name,
  .input-wrap--tel {
    position: relative;
  }

  .input-wrap--name::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url("../img/icon-name.png") no-repeat 50%;
  }

  .input-wrap--tel::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url("../img/icon-tel.png") no-repeat 50%;
  }

  .form__note {
    margin: 15px 0;
  }

  .form__bottom {
    padding: 15px 10px 15px 40px;
    font-size: 15px;
    color: #000000;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.04);
    background: url("../img/icon-pay.png") no-repeat 25px 50%;
  }

  .btn {
    height: 70px;
  }
}
