.promo {
  padding: 80px 0 90px;
}

.header {
  max-width: 720px;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.menu__item {
  margin-right: 20px;
  padding: 3px 0 3px 38px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 30px;

  &:last-of-type {
    margin-right: 0;
  }
}

.menu__item:nth-child(1) {
  background-image: url('../img/icon-menu1.png');
}

.menu__item:nth-child(2) {
  background-image: url('../img/icon-menu2.png');
}

.menu__item:nth-child(3) {
  background-image: url('../img/icon-menu3.png');
}

.menu__link {
  color: #1a1a1a;
  font-size: 18px;
  line-height: 28px;
  border-bottom: 1px solid #d1d1d1;

  &:hover {
    border-bottom: 1px dashed #ec1457;
  }
}

.promo__content {
  display: flex;
  justify-content: flex-end;
}

.promo__left {
  position: relative;
}

.promo__center {
  width: 402px;
  margin-right: 20px;
  position: relative;
}

.promo__slogan {
  margin-bottom: 49px;
  font-size: 50px;
  line-height: 48px;
  color: #000;
  font-weight: 900;
}

.bullets {
  padding-left: 63px;
}

.bullets__item {
  margin-bottom: 28px;
  position: relative;
}

.bullets__check {
  position: absolute;
  top: -12px;
  left: -66px;
  border-radius: 50px;
  background-color: #fff;

  &::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 21px;
    top: 23px;
    left: 16px;
    background-color: #ffffff;
    transform: rotate(-44deg);
  }

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 12px;
    top: 26px;
    left: 11px;
    background-color: #ffffff;
    transform: rotate(44deg);
  }
}

.bullets__check-inner {
  width: 36px;
  height: 36px;
  margin: 5px;
  border-radius: 50px;
  background-color: #3fc4c0;
}

.bullets__text {
  font-size: 20px;
  line-height: 1.4;
  color: #000000;
  font-weight: 600;
}

.bullets__thanks {
  display: inline-block;
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 400;
}

.prod {
  width: 431px;
  position: absolute;
  left: -450px;
  bottom: -126px;
}

.promo__accent {
  margin-top: 8px;
  font-size: 31px;
  font-weight: 500;
}

.promo__pic {
  width: 711px;
  position: absolute;
  top: -173px;
  left: calc(50% - 620px);
}

.promo__decor {
  position: absolute;
  width: 355px;
  top: -57px;
  left: calc(50% - 740px);
}

.promo__form {
  width: 300px;
}

.form {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  border: 4px solid #ec1457;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 5;
}

.form__top {
  padding: 15px 24px 23px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.form__title {
  max-width: 195px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 500;

  .green-text {
    display: block;
    font-size: 23px;
  }
}

.form__price {
  margin: 7px 0 16px;
  padding: 0 10px 12px;
  display: flex;
  border-bottom: 1px solid #d1d0d0;
  position: relative;
}

.form__price::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-left: 1px solid #d1d0d0;
  border-bottom: 1px solid #d1d0d0;
}

.price-old,
.price-new {
  width: 50%;
}

.price__title {
  display: block;
  margin-bottom: 5px;
}

.price-old {
  color: #666666;
  border-right: 1px solid #e0dfdd;

  .price__count {
    padding-top: 12px;
    font-size: 28px;
    position: relative;

  }

  .x_price_previous {
    margin-right: 2px;
    letter-spacing: -1.4px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60px;
      height: 1px;
      background-color: #f57373;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(20deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-20deg);
    }

  }

  .x_currency {
    font-size: 16px;
  }
}

.price-new {
  color: #30302f;

  .price__count {
    font-weight: 900;
    font-size: 40px;
  }

  .x_price_current {
    margin-right: 2px;
    letter-spacing: -1.4px;
  }

  .x_currency {
    font-size: 16px;
  }
}

.form__last {
  margin-bottom: 34px;
  padding: 0 30px;
  line-height: 1.2;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.form__main {
  padding: 0 21px;
}

.form input {
  width: 100%;
  padding: 19px 23px 19px 52px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 18px;
  background-color: #ffffff;
  border: 1px solid #dedddd;
  box-shadow: inset 2px 3px 5px rgba(34, 35, 39, 0.09);
}

.input-wrap {
  margin-bottom: 15px;
}

.input-wrap--name,
.input-wrap--tel {
  position: relative;
}

.input-wrap--name::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../img/icon-name.png") no-repeat 50%;
}

.input-wrap--tel::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../img/icon-tel.png") no-repeat 50%;
}

.form__note {
  margin: 15px 0;
}

.form__bottom {
  padding: 15px 10px 15px 40px;
  font-size: 15px;
  color: #000000;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.04);
  background: url("../img/icon-pay.png") no-repeat 25px 50%;
}

.timer__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer__title {
  max-width: 190px;
  margin: 0 auto 12px;
  font-size: 20px;
}

.timer__cell {
  margin-right: 3px;
  padding: 6px 9px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  border: 2px solid #ec1457;

  &:last-of-type {
    margin-right: 0;
  }
}

.timer__colon {
  width: 7px;
  font-weight: 700;
}

.promo__button {
  margin-top: 15px;
}
