.relapse {
  background-image: url(../img/bg-noise.png);
  background-size: cover;
  background-position: center;
  padding: 90px 0;
  &__title {
    margin-bottom: 52px;
    text-align: center;
  }
  &-content {
    max-width: 1165px;
    margin: 0 auto;
  }
  &-list {
    display: flex;
    justify-content: space-between;
  }
  &-item { 
    display: flex;
    flex-direction: column;
    &:nth-of-type(even) {
      align-self: flex-end;
      margin-bottom: -2px;
    }
    &:nth-of-type(even) &__description {
      margin-top: 29px;
    }
    .relapse-item__img {
      position: relative;
      &-circle { 
        width: 58px;
        height: 58px;
        background-color: #e64722;
        border-radius: 50%;
        position: absolute;
        left: 49%;
        transform: translateX(-50%);
        &::after {
          content: '';
          width: 39px;
          height: 39px;
          background:  url(../img/negative.svg);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &.even {
          top: -26px;
        }
        &.odd {
          bottom: -23px;
        }
      }
    }
    &__description {
      max-width: 263px;
      font: 500 19px/28px $main-font;
      text-align: center;
      margin-top: 51px;
    }
  }
}

@include r(1219) {
  .relapse { 
    &-item { 
      margin-bottom: 25px;
      width: 23%;
      &__description {
        font-size: 17px;
        line-height: 22px;
        margin-top: 29px;
      }
    }
  }
}
@include r(1023) {
  .relapse { 
    &-list { 
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-item { 
      width: 267px;
      &:nth-child(3), &:nth-child(4) {
        margin-bottom: 0;
      }
      &__description {
        font-size: 17px;
        line-height: 22px;
      }
      &:nth-of-type(even) {
        align-self: center;
      }
    }
    &-item__img {
      position: relative;
      &-circle { 
        position: absolute;
        &::after {
          content: '';
          width: 39px;
          height: 39px;
          background:  url(../img/negative.svg);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &.even {
          top: auto!important;
          bottom: -22px;
        }
        &.odd {
          top: auto!important;
          bottom: -22px;
        }
      }
    }
  }
}
@include r(639) {
  .relapse { 
    &-item { 
      width: 45%;
      &:nth-of-type(even) {
       align-self: flex-start;
      }
    }
  }
}

@include r(479) {
  .relapse { 
    &__title { 
      margin-bottom: 30px;
    }
    &-item { 
      width: 100%;
      align-items: center;
      margin-bottom: 35px;
      &__description { 
        font-size: 20px;
      }
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        margin-bottom: 35px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &__img img { 
        margin: 0 auto;
      }
      // &__img-circle {
      //   bottom: auto!important;
      //   top: -36px!important;
      // }
    }
  }
  .relapse-br {
    display: none;
  }
  .relapse-item:nth-of-type(even) .relapse-item__description {
    margin-top: 35px;
  }
  .relapse-item .relapse-item__img-circle.odd {
    bottom: -22px!important;
  }
}
