
.symptoms {
  padding: 90px 0;
  position: relative;
  &__title { 
    text-align: center;
    margin-bottom: 52px;
  }
  &-content { 
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  // левый блок
  &-left {
    width: 234px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 69px;
  }
  &-item { 
    margin-bottom: 40px;
    margin-right: 31px;
    cursor: pointer;
    position: relative;
    &:nth-child(2) {
      margin-bottom: 51px;
    }
    &:nth-child(3) {
      margin-bottom: 0;
      &::before {
        content: none;
      }
    }
    &-4 {
      margin-bottom: 48px!important;
    }
    &-5 {
      margin-bottom: 43px!important;
    }
    &::before {
      content: '';
      width: 200px;
      height: 1px;
      background-color: #e8e8e8;
      position: absolute;
      bottom: -23px;
      right: 0px;
    }
    // правые айтемсы 
    &--right {
      margin-left: 28px;
      &::before {
        content: '';
        width: 200px;
        height: 1px;
        background-color: #e8e8e8;
        position: absolute;
        bottom: -18px;
        left: 0px;
      }
    }
    &__text {
     font: 700 22px/24px $main-font;
     text-align: right;
     position: relative;
     transition: color .5s;
     // текст с права 
     &--right {
      text-align: left;
      &::after{
        content: '';
        width: 11px;
        height: 14px;
        background: url(../img/s-rhomb.png) no-repeat;
        position: absolute;
        top: 5px;
        left: -32px;
      }
    }
     &::after{
      content: '';
      width: 11px;
      height: 14px;
      background: url(../img/s-rhomb.png) no-repeat;
      position: absolute;
      top: 5px;
      right: -28px;
    }
    }
  }
  // центральный блок
  &-center {
    
  }
  &-foot {
    width: 570px;
    height: 570px;
    background-image: url(../img/s-main-circle.png);
    background-size: cover;
    background-color:#f5f7f7;
    border-radius: 50%;
    position: relative;
    &-wrap {
      width: 397px;
      margin: 0 auto;
    }
    &__img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-52%);
    }
    &__pulse { 
    display: block;
    width: 21px;
    height: 21px;
    border: 7px solid #de0f54;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: 2s infinite pulse;
    bottom: 0;
    box-shadow: 0 0 100px rgba(158,130,39,.08);
    }
    // общие стили
    &--first::after,&--second::after,&--third::after,&--fourth::after, &--fifth::after,&--sixth::after {
      content: "";
      position: absolute;
      z-index: 5;
      -webkit-animation: 1.5s opacity;
      animation: 1.5s opacity;
      opacity: 0;
    }
    // зуд
    &--first { 
      bottom: 24.7%;
      left: 195px;
      &::after {
        bottom: 14px;
        right: 3px;
        width: 277px;
        height: 247px;
      border-top: 1px solid #a2a2a2;
      border-right: 1px solid #a2a2a2;
      }
    }
    // запах
    &--second {
      bottom: 33.6%;
      right: 200px;
      &::after {
      bottom: 14px;
      right: 3px;
      width: 431px;
      height: 128px;
      border-top: 1px solid #a2a2a2;
      border-right: 1px solid #a2a2a2;
      }
    }
    // деформация ногтя
    &--third {
      top: 17.5%;
      right: 251px;
      &::after {
        bottom: -195px;
        right: 3px;
        width: 380px;
        height: 188px;
        border-bottom: 1px solid #a2a2a2;
        border-right: 1px solid #a2a2a2;
      }
    }
    // шелушение
    &--fourth {
      top: 48.3%;
      left: 186px;
      &::after {
        bottom: 14px;
        right: -435px;
        width: 439px;
        height: 114px;
        border-top: 1px solid #a2a2a2;
        border-left: 1px solid #a2a2a2;
      }
  }
  &--fifth {
    top: 35.3%;
    right: 212px;
    &::after {
      bottom: -23px;
      right: -284px;
      width: 288px;
      height: 16px;
      border-bottom: 1px solid #a2a2a2;
      border-left: 1px solid #a2a2a2;
    }
}
// волдыри
  &--sixth {
    top: 30.6%;
    left: 189px;
    &::after {
      bottom: -121px;
      right: -432px;
      width: 436px;
      height: 114px;
      border-bottom: 1px solid #a2a2a2;
      border-left: 1px solid #a2a2a2;
    }
}
  }
  // правый блок
  &-right {
    width: 234px;
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
    margin-right: -5px;
  }
}
// зуд
.active1 .symptoms-foot--second,
.active1 .symptoms-foot--third,
.active1 .symptoms-foot--fourth,
.active1 .symptoms-foot--fifth,
.active1 .symptoms-foot--sixth {
    -webkit-animation: none;
    animation: none;
}
.active1 .symptoms-foot--second::after,
.active1 .symptoms-foot--third::after,
.active1 .symptoms-foot--fourth::after,
.active1 .symptoms-foot--fifth::after,
.active1 .symptoms-foot--sixth::after {
    display: none;
}
.active1 .text-1 {
  color: #de0f54;
}
.active1 .symptoms-foot--first::after {
  opacity: 1;
}
// запах
.active2 .symptoms-foot--first,
.active2 .symptoms-foot--third,
.active2 .symptoms-foot--fourth,
.active2 .symptoms-foot--fifth,
.active2 .symptoms-foot--sixth {
    -webkit-animation: none;
    animation: none;
}
.active2 .symptoms-foot--first::after,
.active2 .symptoms-foot--third::after,
.active2 .symptoms-foot--fourth::after,
.active2 .symptoms-foot--fifth::after,
.active2 .symptoms-foot--sixth::after {
    display: none;
}
.active2 .text-2 {
  color: #de0f54;
}
.active2 .symptoms-foot--second::after {
  opacity: 1;
}
// деформация ногтя
.active3 .symptoms-foot--first,
.active3 .symptoms-foot--second,
.active3 .symptoms-foot--fourth,
.active3 .symptoms-foot--fifth,
.active3 .symptoms-foot--sixth {
    -webkit-animation: none;
    animation: none;
}
.active3 .symptoms-foot--first::after,
.active3 .symptoms-foot--second::after,
.active3 .symptoms-foot--fourth::after,
.active3 .symptoms-foot--fifth::after,
.active3 .symptoms-foot--sixth::after {
    display: none;
}
.active3 .text-3 {
  color: #de0f54;
}

.active3 .symptoms-foot--third::after {
  opacity: 1;
}
// шелушение
.active4 .symptoms-foot--first,
.active4 .symptoms-foot--second,
.active4 .symptoms-foot--third,
.active4 .symptoms-foot--fifth,
.active4 .symptoms-foot--sixth {
    -webkit-animation: none;
    animation: none;
}
.active4 .symptoms-foot--first::after,
.active4 .symptoms-foot--second::after,
.active4 .symptoms-foot--third::after,
.active4 .symptoms-foot--fifth::after,
.active4 .symptoms-foot--sixth::after {
    display: none;
}
.active4 .text-4 {
  color: #de0f54;
}

.active4 .symptoms-foot--fourth::after {
  opacity: 1;
}
// волдыри
.active5 .symptoms-foot--first,
.active5 .symptoms-foot--second,
.active5 .symptoms-foot--third,
.active5 .symptoms-foot--fourth,
.active5 .symptoms-foot--sixth {
    -webkit-animation: none;
    animation: none;
}
.active5 .symptoms-foot--first::after,
.active5 .symptoms-foot--second::after,
.active5 .symptoms-foot--third::after,
.active5 .symptoms-foot--fourth::after,
.active5 .symptoms-foot--sixth::after {
    display: none;
}
.active5 .text-5 {
  color: #de0f54;
}

.active5 .symptoms-foot--fifth::after {
  opacity: 1;
}
// трещины на коже
.active6 .symptoms-foot--first,
.active6 .symptoms-foot--second,
.active6 .symptoms-foot--third,
.active6 .symptoms-foot--fourth,
.active6 .symptoms-foot--fifth {
    -webkit-animation: none;
    animation: none;
}
.active6 .symptoms-foot--first::after,
.active6 .symptoms-foot--second::after,
.active6 .symptoms-foot--third::after,
.active6 .symptoms-foot--fourth::after,
.active6 .symptoms-foot--fifth::after {
    display: none;
}
.active6 .text-6 {
  color: #de0f54;
}

.active6 .symptoms-foot--sixth::after {
  opacity: 1;
}


// adaptive
@include r(1219) {
  .symptoms-foot {
    width: 360px;
    height: 360px;
  }
  .symptoms-foot__img {
    width: 260px;
  }
  .symptoms-content {
    max-width: 100%;
    justify-content: center;
  }
  .symptoms-left {
    margin-right: 50px;
  }
  .symptoms-right {
    margin-left: 50px;
  }
  .symptoms-left, .symptoms-right {
    width: 195px;
  }
  .symptoms-item {
    width: 195px;
  }
  .symptoms-foot-wrap {
    width: 260px;
  }
  .symptoms-item--right::before, .symptoms-item::before {
    width: 140px;
  }
  .symptoms-foot--first {
    bottom: 34%;
    left: 220px;
    &::after {
      bottom: 14px;
      right: 3px;
      width: 285px;
      height: 161px;
    }
}
  .symptoms-foot--second {
    bottom: 25%;
    right: 213px;
    &::after {
      width: 191px;
      height: 125px;
    }
}
.symptoms-foot--third {
  top: 15%;
  right: 150px;
  &::after {
    bottom: -136px;
    right: 3px;
    width: 254px;
    height: 129px;
  }
}
.symptoms-foot--fourth {
  top: 45%;
  left: 120px;
  &::after {
    bottom: 14px;
    right: -273px;
    width: 277px;
    height: 106px;
  }
}
.symptoms-foot--fifth {
  top: 33.6%;
  right: 123px;
  &::after {
    bottom: 2px;
    right: -177px;
    width: 170px;
    height: 0;
  }
}
.symptoms-foot--sixth {
  top: 28%;
  left: 117px;
  &::after {
    bottom: -89px;
    right: -276px;
    width: 280px;
    height: 82px;
  }
}
}
@include r(1023) {
  .symptoms-foot {
    width: 380px;
    height: 380px;
  }
  .symptoms-foot__img {
    width: 280px;
  }
  .symptoms-item__text {
    font-size: 20px;
  }
  .symptoms-left {
    margin-right: 20px;
    margin-bottom: 10px;
    
  }
  .symptoms-right {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .symptoms-item, .symptoms-left, .symptoms-right {
    width: 175px;
}
.symptoms-item--right::before, .symptoms-item::before {
  width: 130px;
}
.symptoms-foot--first {
  bottom: 20%;
  left: 125px;
  &::after {
    bottom: 14px;
    right: 3px;
    width: 160px;
    height: 187px;
  }
}
.symptoms-foot--second {
  bottom: 30%;
  right: 122px;
  &::after {
    width: 272px;
    height: 81px;
  }
}
.symptoms-foot--third {
  top: 14%;
  right: 160px;
&::after {
  bottom: -177px;
  right: 3px;
  width: 234px;
  height: 170px;
}
}
.symptoms-foot--fourth {
  top: 44%;
  left: 120px;
&::after {
  bottom: 14px;
  right: -264px;
  width: 268px;
  height: 72px;
}
}
.symptoms-foot--fifth {
  top: 32%;
  left: 227px;
&::after {
  bottom: -37px;
  right: -157px;
  width: 161px;
  height: 30px;
}
}
.symptoms-foot--sixth {
  top: 26%;
  left: 120px;
&::after {
  bottom: -131px;
  right: -264px;
  width: 268px;
  height: 124px;
}
.symptoms__title {
  margin-bottom: 45px;
}
}
}
@include r(767) {
  .nowrap {
    display: block;
  }
  .symptoms-content {
    flex-direction: column;
  }
  .symptoms-left , .symptoms-right {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 auto;
  }
  .symptoms-left {
    margin-bottom: 0px;
  }
  .symptoms-right {
    margin-top: 30px;
  }
  .symptoms-item {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    &::before {
      content: none;
    }
    &:nth-child(2) {
      margin-bottom: 0;
    }
    &-2 {
      margin-right: 20px;
    }
    &__text {
      text-align: center;
    }
  }
  // .symptoms-br {
  //   display: none;
  // }
  .symptoms-item__text--right {
    text-align: center;
  }
  .symptoms-foot--first::after , .symptoms-foot--second::after , .symptoms-foot--third::after, .symptoms-foot--fourth::after, .symptoms-foot--fifth::after, .symptoms-foot--sixth::after {
    content: none;
  }
  .symptoms-item__text::after {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
 }
 .symptoms-foot {
   width: 460px;
   height: 460px;
 }
 .symptoms-foot__img {
  bottom: 0px;
  -webkit-transform: translateX(-52%);
  transform: translateX(-52.5%);
  width: 325px;  
}
.symptoms-foot--first {
  bottom: 20%;
  left: 153px;
}
.symptoms-foot--second {
  bottom: 30%;
  right: 165px;
}
.symptoms-foot--third {
  top: 16%;
  right: 199px;
}
.symptoms-foot--fourth {
  top: 46%;
  left: 150px;
}
.symptoms-foot--fifth {
  top: 35%;
  left: 273px;
}
.symptoms-foot--sixth {
  top: 29%;
  left: 152px;
}
}
@include r(639) {
  .symptoms-left , .symptoms-right {
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
  }
.symptoms-br {
  display: none;
}
}
@include r(479) {
  .symptoms-left , .symptoms-right {
    width: 100%;
  }
  .symptoms-foot {
    width: 400px;
    height: 400px;
  }
  .symptoms-foot__img {
   width: 285px;  
 }
 .symptoms-foot--first {
  bottom: 19%;
  left: 134px;
 }
 .symptoms-foot--second {
  bottom: 29%;
  right: 140px;
 }
 .symptoms-foot--third {
  top: 16%;
  right: 171px;
 }
 .symptoms-foot--fourth {
  top: 46%;
  left: 131px;
 }
 .symptoms-foot--fifth {
  top: 34%;
  left: 238px;
 }
 .symptoms-foot--sixth {
  top: 29%;
  left: 131px;
 }
}
@include r(420) {
  .symptoms-left , .symptoms-right {
   flex-wrap: wrap;
  }
  .symptoms-left {
    margin-bottom: 20px;
  }
  .symptoms-right {
    margin-top: 20px;
  }
  .symptoms__title {
    margin-bottom: 25px;
  }
  .symptoms-item {
    width: 100%;
    &-2 {
      margin-right: 0;
    }
    &__text::after {
      content: none;
    }
  }
  .symptoms-foot {
    width: 300px;
    height: 300px;
}
  .symptoms-foot__img {
    width: 210px;  
  }
  .symptoms-foot--first {
    bottom: 21%;
    left: 100px
  }
  .symptoms-foot--second {
    bottom: 30%;
    right: 101px;
  }
  .symptoms-foot--third {
    top: 17%;
    right: 126px;
  }
  .symptoms-foot--fourth {
    top: 47%;
    left: 98px;
  }
  .symptoms-foot--fifth {
    top: 35%;
    left: 175px;
  }
  .symptoms-foot--sixth {
    top: 31%;
    left: 96px;
  }
  .symptoms-item {
    margin-right: 0;
    &--right {
     margin-left: 0;
    }
    &-4 , &-5 {
      margin-bottom: 0!important;
    }
  }
}