extends settings/layout

prepend html
  - const lang = "th";

prepend head
  - const pageTitle = "Купить Stop Active недорого. Цены, отзывы. Закажите Stop Active сейчас!";
  - const themeColor = "#ffffff";

append head

append fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,900&subset=cyrillic,cyrillic-ext")

append content
<<<<<<< HEAD
  //- include components/promo
=======
 
  include components/promo
  include components/menu
>>>>>>> 1d306521cbcc3a73c50316df95cfbb71dc298bee
  include components/symptoms
  include components/relapse
  include components/healing
  include components/components
  include components/use
  include components/expert
<<<<<<< HEAD
  //- include components/promo-last
  
=======
  include components/reviews
  include components/order
  include components/promo-last
  include components/footer
>>>>>>> 1d306521cbcc3a73c50316df95cfbb71dc298bee

append scripts
  script(src="js/slick.min.js")
