extends settings/layout

prepend html
  - const lang = "th";

prepend head
  - const pageTitle = "Купить Stop Active недорого. Цены, отзывы. Закажите Stop Active сейчас!";
  - const themeColor = "#ffffff";

append head

append fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,900&subset=cyrillic,cyrillic-ext")

append content
<<<<<<< HEAD
  //- include components/promo
  include components/symptoms
  include components/relapse
  include components/healing
  include components/use
  include components/expert
  //- include components/promo-last
  
=======
  include components/promo
  include components/menu
  include components/symptoms
  include components/components
  include components/reviews
  include components/promo-last
>>>>>>> 01c28dffe2b4c64e3cbbb35458d08bcf9d77c151

append scripts
  script(src="js/slick.min.js")
