section.components.section-bg.block
    span(id='components')
    .container
        h2.title.components__title Состав 
            span.red-text Stop 
            | Active помогает избавиться от&nbsp;грибка
        p.subtitle.components__subtitle всего за&nbsp;1&nbsp;курс применения
        .components__content
            img.components__prod(src="img/prod-single.png", alt="Stop Active")
            ul.components__list
                li.components__item
                    .components__img
                        img(src="img/comp1.png", alt="Масло гвоздики")
                    .components__desc
                        p.components__item-title Масло гвоздики –
                        p.components__item-text устраняет запах пота, зуд и&nbsp;жжение. Способствует восстановлению пораженных участков кожи и&nbsp;восстановлению ногтевой пластины. Обладает обезболивающим действием
                        .components__btn.more-btn
                li.components__item
                    .components__img
                        img(src="img/comp2.png", alt="Эфирное масло чайного дерева")
                    .components__desc
                        p.components__item-title Эфирное масло чайного дерева –
                        p.components__item-text оказывает разрушительное действие на&nbsp;вредные бактерии и&nbsp;патогенные грибы, предотвращает распространение инфекции, успокаивает и&nbsp;восстанавливает кожу
                        .components__btn.more-btn
                li.components__item
                    .components__img
                        img(src="img/comp3.png", alt="Прополис")
                    .components__desc
                        p.components__item-title Прополис –
                        p.components__item-text способствует устранению грибковой инфекции и&nbsp;сопутствующих осложнений, улучшает заживление ран, устраняет гнойные образования, отеки, воспалительные процессы.
                        .components__btn.more-btn
            .components__bottom
                p.components__bottom-title Дополнительные ингредиенты
                p.components__bottom-text Концентраты живокости полевой и ириса, живица кедровая, живица пихтовая, деготь, бетулин, сок маклюры оранжевой, экстракт мускуса бобра, мумие-асиль.
                p.components__bottom-text Натуральные масла падуба, лапачо, уснеи, леспедецы, прострела, чистотела, полыни, зверобоя, ромашки, мелиссы, каменное масло.


