section.expert.block.section-bg
  .container
    h2.expert__title.title “Грибок коварен: он может ненадолго отступать, чтобы вскоре вернуться 
        span.nowrap
          |с новой силой”
    .expert-content
      .expert-content__bg
        img(src="img/expert-bg.png", alt="expert-bg")
      .expert__img
        img(src="img/expert.png", alt="expert")
      .expert-text
        p.expert-text__description  Почему нужно бить тревогу, как только обнаружите грибок? Потому что эта с виду безобидная болезнь может привести 
          br.expert-br
          |к тяжелым последствиям. Если грибок прорастет глубоко 
          br.expert-br
          |и распространится по всему организму, то внутренние органы могут сильно пострадать.
        p.expert-text__description 
          strong.expert-text__description-bold Многие уже знают, что грибок возвращается, если препарат подобран неправильно. 
          |Грибок коварен: он может ненадолго отступать, чтобы вскоре вернуться с новой силой. 
          br.expert-br
          |Чтобы избавиться от него навсегда, нужно его искоренять препаратом, который не дает грибку размножаться, а не просто скрывает косметические дефекты. 
        p.expert-text__description Из противогрибковых препаратов, которые сейчас можно найти 
          br.expert-br
          |в продаже, выделяется Stop Active. 
          strong.expert-text__description-bold
            |Натуральные масла 
            br.expert-br
            |и экстракты в составе Stop Active помогают избавиться от грибка окончательно за 1 курс. 
          |Наносите 1-2 капли масла каждый день на чистую сухую кожу, и скоро сами увидите, как грибок исчезает.
        p.expert-text__description 
          strong.expert-text__description-bold
            span.red-text
              |Stop 
            |Active помогает и достичь комфорта, убрав зуд и запах, 
            br.expert-br
            |и обезопасить себя от последствий, которые бывают 
            br.expert-br
            |при неправильном лечении.
        .expert-author
        .expert-author__name.text-black К. Т. Валевский, 
        .expert-author__desc врач-дерматолог
      .expert-lower
        button.expert__btn.btn.ever-popup-btn Заказать