section.footer
    .container
        .footer__content
            .footer__logo
                img.footer__img(src="img/everad.png", alt="Everad logo")
            a.footer__link(href="privacy.html", target="_blank") Политика конфиденциальности
            p.footer__label Stop Active