section.footer
    .container
        .footer__content
            //- .footer__logo
            //-     img.footer__img(src="img/everad.png", alt="Everad logo")
            //- a.footer__link(href="privacy.html", target="_blank") Политика конфиденциальности
            //- p.footer__label Stop Active
            .create_rom_footer(data-color_text="" data-color_link="#000" data-color_logo="orange")