section.footer
    .container
        .footer__content
            .footer__logo
                img.footer__img(src="img/everad.png", alt="Everad logo")
            a.footer__link(href="https://everad.com/") Политика конфиденциальности
            p.footer__label Stop Active