section.healing.block
  .container
    h2.healing__title.title Чем дольше 
      span.nowrap вы боретесь 
      | 
      span.nowrap со спорами грибов,
    p.healing__subtitle.subtitle тем больше страдает 
      | 
      span.nowrap весь организм
    ul.healing-list
      li.healing-item
        .healing-item__img
          span.healing-item__img-circle
          img(src="img/long1.png", alt="image")
        p.healing-item__description Возникают 
          br.healing-br
          | аллергии
      li.healing-item
        .healing-item__img.img-2
          span.healing-item__img-circle
          img(src="img/long2.png", alt="image")
        p.healing-item__description Начинаются экземы 
          br.healing-br
          | и псориазы
      li.healing-item
        .healing-item__img.img-3
          span.healing-item__img-circle
          img(src="img/long3.png", alt="image")
        p.healing-item__description Поражаются внутренние органы
    .healing-lower
      h3.healing-lower__title Избавьтесь от грибка 
        | 
        span.nowrap и его последствий за 1 курс!
      button.healing-lower__btn.btn Заказать
