section.order.block(id='order').white-block
    .container
        h2.title.order__title Как заказать доставку масла 
            span.red-text Stop&nbsp;
            |Active
        ul.order__list
            li.order__item
                .order__top-wrap
                    .order__top
                        img.order__img(src="img/form.jpg", alt="form")
                p.order__head Заполните форму&nbsp;заказа
                p.order__text Укажите только свое имя и&nbsp;номер&nbsp;телефона
            li.order__item
                .order__top-wrap
                    .order__top
                        img.order__img(src="img/operator.png", alt="operator")
                p.order__head Ответьте на звонок оператора
                p.order__text Он уточнит ваши адресные данные и&nbsp;ответит на все вопросы о&nbsp;препарате
            li.order__item
                .order__top-wrap
                    .order__top
                        img.order__img(src="img/prod.png", alt="Stop Active")
                p.order__head Оплатите 
                    span.red-text после получения
                p.order__text Никаких предоплат!