section.promo.block(id="home")
    .container
        .header
            h1.logo
                img.logo__img(src="img/logo.png", alt="Stop Active")
            nav
                ul.menu.header__menu
                    li.menu__item
                        a.menu__link(href='#reviews') Отзывы
                    li.menu__item
                        a.menu__link(href='#components') Состав
                    li.menu__item
                        a.menu__link(href='#order') Оплата и&nbsp;доставка
        .promo__content
            .promo__left
                .promo__pic
                    img(src="img/promo-pic.png", alt="legs")
                .promo__decor
                    img(src="img/promo-decor.png", alt="decor")
            .promo__center
                h2.promo__slogan Попрощайтесь с&nbsp;грибком стопы 
                    span.red-text за&nbsp;1&nbsp;курс
                    p.promo__accent применения 
                        span.red-text Stop&nbsp;
                        | Active
                ul.bullets
                    li.bullets__item
                        .bullets__check
                            .bullets__check-inner
                        p.bullets__text Снимите зуд и&nbsp;покраснения 
                            span.bullets__thanks благодаря прополису
                    li.bullets__item
                        .bullets__check
                            .bullets__check-inner
                        p.bullets__text Устраните неприятный запах 
                            span.bullets__thanks благодаря маслу гвоздики
                    li.bullets__item
                        .bullets__check
                            .bullets__check-inner
                        p.bullets__text Придайте стопам ухоженный вид 
                            span.bullets__thanks благодаря маслу чайного&nbsp;дерева
                .prod
                    img(src="img/prod.png", alt="Stop Active")
            .promo__right
                .form.promo__form
                    .form__top
                        p.form__title Закажите сейчас 
                            span.green-text.nowrap по Акции 
                        .form__price.price
                            .price-old
                                span.price__title Старая цена
                                .price__count                                
                                    span.x_price_previous 9999
                                    span.x_currency грн.
                            .price-new
                                span.price__title Ваша цена
                                .price__count
                                    span.x_price_current.green-text 999
                                    span.x_currency грн.
                        .timer
                            .timer__wrap
                                .timer__title Осталось до конца 
                                    span.green-text акции
                                .timer__body
                                    .timer__cell.hours 0
                                    .timer__cell.hours 0
                                    .timer__colon
                                    .timer__cell.minutes 27
                                    .timer__cell.minutes 27
                                    .timer__colon
                                    .timer__cell.seconds 0
                                    .timer__cell.seconds 0
                        button.promo__button.btn.ever-popup-btn Заказать                       
