section.relapse.block.section-bg
  .container
    h2.relapse__title.title 
      span.orange-text Грибок 
      | возвращается 
      span.nowrap снова и снова?
    .relapse-content
      ul.relapse-list
        li.relapse-item
          .relapse-item__img
            span.relapse-item__img-circle.odd
              .relapse-item__img-circle-icon
                //- img(src="img/negative.svg", alt="icon")
            img(src="img/return1.png", alt="image")
          p.relapse-item__description.desc1 Вы не можете надеть открытую обувь
        li.relapse-item
          .relapse-item__img
            span.relapse-item__img-circle.even
              .relapse-item__img-circle-icon
                //- img(src="img/negative.svg", alt="icon")
            img(src="img/return2.png", alt="image")
          p.relapse-item__description.desc2 Боитесь заразить семью 
            br.relapse-br 
            |и окружающих
          
        li.relapse-item
          .relapse-item__img
            span.relapse-item__img-circle.odd
              .relapse-item__img-circle-icon
                //- img(src="img/negative.svg", alt="icon")
            img(src="img/return3.png", alt="image")
          p.relapse-item__description.desc3 Не можете ходить 
            br.relapse-br
            |в бассейн
           
        li.relapse-item
          .relapse-item__img
            span.relapse-item__img-circle.even
              .relapse-item__img-circle-icon
                //- img(src="img/negative.svg", alt="icon")
            img(src="img/return4.png", alt="image")
          p.relapse-item__description.desc4 Тратите деньги 
            br.relapse-br 
            |на бесполезные препараты
          
