section.relapse.block.section-bg
  .container
    h2.relapse__title.title 
      span.orange-text Грибок 
      | возвращается снова и снова? 
    .relapse-content
      ul.relapse-list
        li.relapse-item
          .relapse-item__img
            span.relapse-item__img-circle.odd
              .relapse-item__img-circle-icon
                img(src="img/negative.svg", alt="icon")
            img(src="img/relapse1.png", alt="image")
          p.relapse-item__description Вы не можете надеть открытую обувь
        li.relapse-item
          .relapse-item__img
            span.relapse-item__img-circle
              .relapse-item__img-circle-icon
                img(src="img/negative.svg", alt="icon")
            img(src="img/relapse2.png", alt="image")
          p.relapse-item__description Боитесь заразить семью <br> и окружающих
        li.relapse-item
          .relapse-item__img
            span.relapse-item__img-circle.odd
              .relapse-item__img-circle-icon
                img(src="img/negative.svg", alt="icon")
            img(src="img/relapse3.png", alt="image")
          p.relapse-item__description Не можете ходить <br> в бассейн
        li.relapse-item
          .relapse-item__img
            span.relapse-item__img-circle
              .relapse-item__img-circle-icon
                img(src="img/negative.svg", alt="icon")
            img(src="img/relapse4.png", alt="image")
          p.relapse-item__description Тратите деньги <br> на бесполезные препараты
