section.reviews.block(id='reviews')
    .container
        h2.title.reviews__title Отзывы
        ul.review__slider
            li.review__item
                .review__photo
                    img(src="img/review7.png", alt="")
                .review__name Альбина, 38&nbsp;лет, г.&nbsp;Фантьет
                .review__desc
                    p.review__text Болячка, конечно, крайне неприятная. А главное приставучая и&nbsp;заразная((( Мы вдвоем с&nbsp;мужем лечились. Пробовали всякие народные методы, но&nbsp;мужу они больше помогали. С&nbsp;моим запущенным случаем народные методы оказались слабыми. А&nbsp;вот Stop&nbsp;Active помог. Рекомендую!
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review8.png", alt="")
                .review__name Мия, 40&nbsp;лет, г.&nbsp;Винь
                .review__desc
                    p.review__text С&nbsp;этим грибком стопы постоянно чувствовала себя неловко. Все&nbsp;боялась, что кто-то увидит этот ужас. А еще и&nbsp;запах от ног этот противный! Увидела рекламу масла Stop&nbsp;Active и&nbsp;решила попробовать. Примерно через месяц грибок пропал. Нету его больше! Кожа, кстати, увлажнилась, очень мягкая и&nbsp;приятная теперь. Двойной эффект))
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review9.png", alt="")
                .review__name Елисей, 49&nbsp;лет, г.&nbsp;Халонг
                .review__desc
                    p.review__text У&nbsp;меня начиналось все с&nbsp;грибками между пальцами. Я&nbsp;не&nbsp;лечил, думал само пройдет. Но&nbsp;нет. Это все дело распространилось и&nbsp;мне пришлось лечить еще и&nbsp;стопы. Знакомый посоветовал Stop&nbsp;Active. Я попросил его заказать мне, потому что он себе уже на&nbsp;этом сайте брал, знает, как заказ оформлять. Так вот, у&nbsp;меня грибок уже третью неделю потихоньку уходит. Авось повезет распрощаться с&nbsp;ним навсегда.
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review1.png", alt="")
                .review__name Петр, 45&nbsp;лет, г.&nbsp;Хюэ
                .review__desc
                    p.review__text Stop&nbsp;Active действительно избавляет от грибка. Не за 3 дня, конечно, где-то месяц подождать нужно. Зато потом болезнь пропадет бесследно. У меня прошло уже полгода после лечения, а я уже и забыл, что такое грибок. Надеюсь, и не вернется больше.
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review2.png", alt="")
                .review__name Ольга, 35&nbsp;лет, г.&nbsp;Монгкай
                .review__desc
                    p.review__text С запущенным случаем, а&nbsp;грибок стопы именно такой, справиться очень сложно. Но&nbsp;маслу Stop&nbsp;Active это удалось. Наверное, благодаря большому количеству масел в&nbsp;составе. Эффект от него накапливается - видимый результат заметен через пару недель. Запах у&nbsp;масла довольно приятный, удобно пользоваться пипеткой.
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review3.png", alt="")
                .review__name Елизавета, 51&nbsp;год, г.&nbsp;Нячанг
                .review__desc
                    p.review__text Доставляют СтопАктив быстро и&nbsp;с&nbsp;операторами приятно общаться. Рассчитываться тоже очень удобно, не&nbsp;нужно заранее платить. Что касается самого средства, то оно стоит своих денег. Если бы сразу о нем узнала, существенно сэкономила бы. 
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review4.png", alt="")
                .review__name Вера, 36&nbsp;лет, г.&nbsp;Далат
                .review__desc
                    p.review__text Это просто магия! Мне кажется, мои стопы стали выглядеть даже лучше, чем до того, как я&nbsp;заразилась)) Масло глубоко проникает в&nbsp;слои кожи и&nbsp;питает ее. Наконец-то я&nbsp;могу носить открытую обувь и&nbsp;накрасить ногти! Спасибо, Stop&nbsp;Active! 
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review5.png", alt="")
                .review__name Алексей,&nbsp;58 лет, г.&nbsp;Хайфон
                .review__desc
                    p.review__text Я в&nbsp;общественном душе заразился грибком при котором волдыри по всей стопе. Зараза эта редкостная: чешется, зудит, потом еще и&nbsp;гной из ран начал выходить. Ходить еле мог. Я&nbsp;вообще мало доверяю современным средствам медицины, но&nbsp;масло Stop&nbsp;Active на удивление помогло. Спасибо жене, что настояла.  
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review6.png", alt="")
                .review__name Ефим, 65&nbsp;лет, г.&nbsp;Кантхо
                .review__desc
                    p.review__text Что могу сказать, хорошее масло. Не&nbsp;химия, натуральный состав у&nbsp;него. Удобно пользоваться за&nbsp;счет того, что пипетка есть. Я определенно вижу результат, хотя пользуюсь только 2&nbsp;недели. Посмотрим, что будет дальше. Надеюсь, избавлюсь от&nbsp;этой заразы навсегда.  
                .review__btn.more-btn
        p.reviews__bottom 
            span.red-text * 
            | Результаты использования зависят от&nbsp;индивидуальных особенностей
    .reviews__line