section.reviews.block(id='reviews')
    .container
        h2.title.reviews__title Отзывы
        ul.review__slider
            li.review__item
                .review__photo
                    img(src="img/review7.png", alt="")
                .review__name Альбина, 38 лет, г. Фантьет
                .review__desc
                    p.review__text Болячка, конечно, крайне неприятная. А главное приставучая и заразная((( Мы вдвоем с мужем лечились. Пробовали всякие народные методы, но мужу они больше помогали. С моим запущенным случаем народные методы оказались слабыми. А вот Stop Active помог. Рекомендую!
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review8.png", alt="")
                .review__name Мия, 40 лет, г. Винь
                .review__desc
                    p.review__text С этим грибком стопы постоянно чувствовала себя неловко. Все боялась, что кто-то увидит этот ужас. А еще и запах от ног этот противный! Увидела рекламу масла Stop Active и решила попробовать. Примерно через месяц грибок пропал. Нету его больше! Кожа, кстати, увлажнилась, очень мягкая и приятная теперь. Двойной эффект))
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review9.png", alt="")
                .review__name Елисей, 49 лет, г. Халонг
                .review__desc
                    p.review__text У меня начиналось все с грибками между пальцами. Я не лечил, думал само пройдет. Но нет. Это все дело распространилось и мне пришлось лечить еще и стопы. Знакомый посоветовал stop active. Я попросил его заказать мне, потому что он себе уже на этом сайте брал, знает, как заказ оформлять. Так вот, у меня грибок уже третью неделю потихоньку уходит. Авось повезет распрощаться с ним навсегда.
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review1.png", alt="")
                .review__name Петр, 45 лет, г. Хюэ
                .review__desc
                    p.review__text Stop Active действительно избавляет от грибка. Не за 3 дня, конечно, где-то месяц подождать нужно. Зато потом болезнь пропадет бесследно. У меня прошло уже полгода после лечения, а я уже и забыл, что такое грибок. Надеюсь, и не вернется больше.
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review2.png", alt="")
                .review__name Ольга, 35 лет, г. Монгкай
                .review__desc
                    p.review__text С запущенным случаем, а грибок стопы именно такой, справиться очень сложно. Но маслу Stop Active это удалось. Наверное, благодаря большому количеству масел в составе. Эффект от него накапливается - видимый результат заметен через пару недель. Запах у масла довольно приятный, удобно пользоваться пипеткой.
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review3.png", alt="")
                .review__name Елизавета, 51 год, г. Нячанг
                .review__desc
                    p.review__text Доставляют СтопАктив быстро и с операторами приятно общаться. Рассчитываться тоже очень удобно, не нужно заранее платить. Что касается самого средства, то оно стоит своих денег. Если бы сразу о нем узнала, существенно сэкономила бы. 
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review4.png", alt="")
                .review__name Вера, 36 лет, г. Далат
                .review__desc
                    p.review__text Это просто магия! Мне кажется, мои стопы стали выглядеть даже лучше, чем до того, как я заразилась)) Масло глубоко проникает в слои кожи и питает ее. Наконец-то я могу носить открытую обувь и накрасить ногти! Спасибо, Stop Active! 
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review5.png", alt="")
                .review__name Алексей, 58 лет, г. Хайфон
                .review__desc
                    p.review__text Я в общественном душе заразился грибком при котором волдыри по всей стопе. Зараза эта редкостная: чешется, зудит, потом еще и гной из ран начал выходить. Ходить еле мог. Я вообще мало доверяю современным средствам медицины, но масло Stop Active на удивление помогло. Спасибо жене, что настояла.  
                .review__btn.more-btn
            li.review__item
                .review__photo
                    img(src="img/review6.png", alt="")
                .review__name Ефим, 65 лет, г. Кантхо
                .review__desc
                    p.review__text Что могу сказать, хорошее масло. Не химия, натуральный состав у него. Удобно пользоваться за счет того, что пипетка есть. Я определенно вижу результат, хотя пользуюсь только 2 недели. Посмотрим, что будет дальше. Надеюсь, избавлюсь от этой заразы навсегда.  
                .review__btn.more-btn