section.symptoms.block
  .container
    h2.symptoms__title.title
      |Эти симптомы – уже 
      span.nowrap повод бить тревогу
    .symptoms-content.active3
     <!-- левый блок -->
      .symptoms-left
        .symptoms-item.symptoms-item-1
          .symptoms-item__text.text-black.text-1 Зуд
            
        .symptoms-item.symptoms-item-2
          .symptoms-item__text.text-black.text-2 Запах
            
        .symptoms-item.symptoms-item-3
          .symptoms-item__text.text-black.text-3 Деформация 
            br.symptoms-br
            |ногтя
             
            <!-- центральный блок -->
      .symptoms-center
        .symptoms-foot
          .symptoms-foot-wrap
            img(class="symptoms-foot__img" src="img/s-foot.png" , alt ="foot")
            //- зуд
            span.symptoms-foot__pulse.symptoms-foot--first
              //- запах
            span.symptoms-foot__pulse.symptoms-foot--second
              //- деформация ногтя
            span.symptoms-foot__pulse.symptoms-foot--third
              //- шелушение
            span.symptoms-foot__pulse.symptoms-foot--fourth
              //- волдыри
            span.symptoms-foot__pulse.symptoms-foot--fifth
              //- трещины на коже
            span.symptoms-foot__pulse.symptoms-foot--sixth   
      <!-- правый блок -->   
      .symptoms-right
        .symptoms-item.symptoms-item-4.symptoms-item--right
          .symptoms-item__text.text-black.symptoms-item__text--right.text-4 Шелушение
        .symptoms-item.symptoms-item-5.symptoms-item--right
          .symptoms-item__text.text-black.symptoms-item__text--right.text-5 Волдыри
        .symptoms-item.symptoms-item-6.symptoms-item--right
          .symptoms-item__text.text-black.symptoms-item__text--right.text-6 Трещины 
            br.symptoms-br 
            |на&nbsp;коже
            



    