section.use.block
  .container
    h2.use__title.title Как применять масло 
      |
      span.nowrap
      | 
      span.red-text Stop 
      | Active
       
    ul.use-list
      li.use-item
        .use-item__img
          span.use-item__img-circle

          img(src="img/how1.png", alt="image")
        p.use-item__description Наберите средство 
          br.use-br 
          | в пипетку
         

      li.use-item
        .use-item__img.img-2
          span.use-item__img-circle

          img(src="img/how2.png", alt="image")
        p.use-item__description Нанесите 1-2 капли 
          br.use-br 
          | на пораженные участки
          
      li.use-item
        .use-item__img.img-3
          span.use-item__img-circle

          img(src="img/how3.png", alt="image")
        p.use-item__description Распределите массажными
          br.use-br
          | движениями
         
    p.use__reference Рекомендуется применять 
      span.nowrap не менее 30 дней