body {
  min-width: 320px;
  min-height: 100vh;
  font-family: $main-font;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  overflow: hidden;
}

button {
  display: block;
  padding: 0;
}

section {
  position: relative;
  // overflow-x: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;

  @include r(1219) {
    max-width: 1024px;
  }

  @include r(1023) {
    width: 768px;
    padding: 0 10px;
  }

  @include r(767) {
    width: 640px;
  }

  @include r(639) {
    width: 480px;
  }

  @include r(479) {
    max-width: 100%;
  }
}

.title {
  text-align: center;
  font-size: 47px;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;

  @include r(1219) {
    font-size: 40px;
  }

  @include r(1023) {
    font-size: 38px;
  }

  @include r(767) {
    font-size: 34px;
  }

  @include r(639) {
    font-size: 30px;
  }

  @include r(479) {
    font-size: 28px;
  }
}

.subtitle {
  font-size: 24px;
  color: #444444;

  @include r(1219) {
    font-size: 22px;
  }

  @include r(1023) {
    font-size: 21px;
  }

  @include r(767) {
    font-size: 20px;
  }

  @include r(639) {
    font-size: 19px;
  }

  @include r(479) {
    font-size: 18px;
  }

}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.nowrap {
  white-space: nowrap;
}

.red-text {
  color: #ec1457;
}

.orange-text {
  color: #e64722;
}

.green-text {
  color: #3fc4c0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.btn {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border-radius: 10px;
  border-bottom: 5px solid #239b97;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  color: #ffffff;
  transition: all .5s;
  background-image: linear-gradient(to right, #3fc4c0 0%, #3fc4c0 51%, #3fc4c0 100%);

  &__note {
    margin-top: -5px;
    font-size: 20px;
    font-weight: 500;
  }

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #1f9c98 0%, #3fc4c0 51%, #1f9c98 100%);
  }
}

.section-bg {
  background-color: #f6f5f1;
  background: #f6f5f1 url("../img/bg-noise.png") repeat-y 50% 50%;
  background-size: auto;
}
