body {
  min-width: 320px;
  min-height: 100vh;
  font-family: $main-font;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  overflow: hidden;
}

button {
  display: block;
  padding: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;

  @include r(1219px) {
    max-width: 1024px;
  }

  @include r(1023) {
    max-width: 768px;
    padding: 0 10px;
  }

  @include r(767) {
    max-width: 640px;
  }

  @include r(639) {
    max-width: 480px;
  }

  @include r(479) {
    max-width: 100%;
  }
}

.title {
  font-size: 47px;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;

  @include r(1219) {
    font-size: 40px;
  }

  @include r(1023) {
    font-size: 38px;
  }

  @include r(767) {
    font-size: 34px;
  }

  @include r(639) {
    font-size: 30px;
  }

  @include r(479) {
    font-size: 28px;
  }
}

.subtitle {
  font-size: 24px;
  color: #444444;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-nowrap {
  white-space: nowrap;
}

.red {
  color: #ec1457;
}

.orange {
  color: #e64722;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
